<a href="https://colab.research.google.com/github/sanDavidUdea/Prueba_git_hub/blob/master/Entregable_1_Modulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
# Creacion del DataFrame
data= {"Name":["María","Carlos","Lucía","Sofía","Miguel","Laura","José","Isabel","David","Elena","Manuel","Paula","Andrés","Clara","Fernando","Camila","Javier","Valeria","Santiago","Teresa","Alejandro","Marta","Daniel","Roberto","Gonzalo"],
      "Age":[34,29,47,25,38,41,26,50,33,28,35,46,30,39,42,27,49,32,31,40,37,43,48,36,44],
      "Job": ["Abogado(a)","Medico(a)", "Profesor(a)", "Quimico(a)","Estadista", "Arquitecto(a)", "Medico(a)","Odontologo(a)","Pintor(a)", "Bombero(a)","Medico(a)","Estadista", "Profesor(a)", "Veterinario(a)", "Odontologo(a)", "Psicologo(a)", "Enfermero(a)", "Botanico(a)", "Sociologo(a)", "Profesor(a)","Profesor(a)", "Medico(a)", "Biologo(a)", "Estadista", "Quimico(a)" ]}
df= pd.DataFrame(data)
print (df)

         Name  Age             Job
0       María   34      Abogado(a)
1      Carlos   29       Medico(a)
2       Lucía   47     Profesor(a)
3       Sofía   25      Quimico(a)
4      Miguel   38       Estadista
5       Laura   41   Arquitecto(a)
6        José   26       Medico(a)
7      Isabel   50   Odontologo(a)
8       David   33       Pintor(a)
9       Elena   28      Bombero(a)
10     Manuel   35       Medico(a)
11      Paula   46       Estadista
12     Andrés   30     Profesor(a)
13      Clara   39  Veterinario(a)
14   Fernando   42   Odontologo(a)
15     Camila   27    Psicologo(a)
16     Javier   49    Enfermero(a)
17    Valeria   32     Botanico(a)
18   Santiago   31    Sociologo(a)
19     Teresa   40     Profesor(a)
20  Alejandro   37     Profesor(a)
21      Marta   43       Medico(a)
22     Daniel   48      Biologo(a)
23    Roberto   36       Estadista
24    Gonzalo   44      Quimico(a)

In [ ]:
# Agregar nuevas columnas
df ["Experience years"]= [9,4,22,0, 13,16,1,25,8,3,10,21,5,14,17,2,24,7,6,15,12,18,23,11,19]
df ["Salary"]= [4000000,5000000, 2000000, 3500000,6000000, 4000000, 5000000,3000000,2000000, 2000000,5000000,6000000, 2000000, 3000000, 3000000, 2500000, 3000000, 2500000, 3000000, 2000000,2000000, 5000000, 2000000, 6000000, 3500000]
print (df)

         Name  Age             Job  Experience years   Salary
0       María   34      Abogado(a)                 9  4000000
1      Carlos   29       Medico(a)                 4  5000000
2       Lucía   47     Profesor(a)                22  2000000
3       Sofía   25      Quimico(a)                 0  3500000
4      Miguel   38       Estadista                13  6000000
5       Laura   41   Arquitecto(a)                16  4000000
6        José   26       Medico(a)                 1  5000000
7      Isabel   50   Odontologo(a)                25  3000000
8       David   33       Pintor(a)                 8  2000000
9       Elena   28      Bombero(a)                 3  2000000
10     Manuel   35       Medico(a)                10  5000000
11      Paula   46       Estadista                21  6000000
12     Andrés   30     Profesor(a)                 5  2000000
13      Clara   39  Veterinario(a)                14  3000000
14   Fernando   42   Odontologo(a)                17  3000000
15     Camila   27    Psicologo(a)                 2  2500000
16     Javier   49    Enfermero(a)                24  3000000
17    Valeria   32     Botanico(a)                 7  2500000
18   Santiago   31    Sociologo(a)                 6  3000000
19     Teresa   40     Profesor(a)                15  2000000
20  Alejandro   37     Profesor(a)                12  2000000
21      Marta   43       Medico(a)                18  5000000
22     Daniel   48      Biologo(a)                23  2000000
23    Roberto   36       Estadista                11  6000000
24    Gonzalo   44      Quimico(a)                19  3500000

In [ ]:
# Operaciones entre columnas
df["Bonus(%)"]= df["Experience years"]*0.01
df["Salary with bonus"]= df["Salary"]+df["Salary"]*df["Bonus(%)"]
df["Currency"]= "COP"
print(df)

         Name  Age             Job  Experience years   Salary  Bonus(%)  \
0       María   34      Abogado(a)                 9  4000000      0.09
1      Carlos   29       Medico(a)                 4  5000000      0.04
2       Lucía   47     Profesor(a)                22  2000000      0.22
3       Sofía   25      Quimico(a)                 0  3500000      0.00
4      Miguel   38       Estadista                13  6000000      0.13
5       Laura   41   Arquitecto(a)                16  4000000      0.16
6        José   26       Medico(a)                 1  5000000      0.01
7      Isabel   50   Odontologo(a)                25  3000000      0.25
8       David   33       Pintor(a)                 8  2000000      0.08
9       Elena   28      Bombero(a)                 3  2000000      0.03
10     Manuel   35       Medico(a)                10  5000000      0.10
11      Paula   46       Estadista                21  6000000      0.21
12     Andrés   30     Profesor(a)                 5  2000000      0.05
13      Clara   39  Veterinario(a)                14  3000000      0.14
14   Fernando   42   Odontologo(a)                17  3000000      0.17
15     Camila   27    Psicologo(a)                 2  2500000      0.02
16     Javier   49    Enfermero(a)                24  3000000      0.24
17    Valeria   32     Botanico(a)                 7  2500000      0.07
18   Santiago   31    Sociologo(a)                 6  3000000      0.06
19     Teresa   40     Profesor(a)                15  2000000      0.15
20  Alejandro   37     Profesor(a)                12  2000000      0.12
21      Marta   43       Medico(a)                18  5000000      0.18
22     Daniel   48      Biologo(a)                23  2000000      0.23
23    Roberto   36       Estadista                11  6000000      0.11
24    Gonzalo   44      Quimico(a)                19  3500000      0.19

    Salary with bonus Currency
0           4360000.0      COP
1           5200000.0      COP
2           2440000.0      COP
3           3500000.0      COP
4           6780000.0      COP
5           4640000.0      COP
6           5050000.0      COP
7           3750000.0      COP
8           2160000.0      COP
9           2060000.0      COP
10          5500000.0      COP
11          7260000.0      COP
12          2100000.0      COP
13          3420000.0      COP
14          3510000.0      COP
15          2550000.0      COP
16          3720000.0      COP
17          2675000.0      COP
18          3180000.0      COP
19          2300000.0      COP
20          2240000.0      COP
21          5900000.0      COP
22          2460000.0      COP
23          6660000.0      COP
24          4165000.0      COP

In [ ]:
#Eliminar columnas
df.drop("Currency" , axis = 1, inplace=True)
print(df)

         Name  Age             Job  Experience years   Salary  Bonus(%)  \
0       María   34      Abogado(a)                 9  4000000      0.09
1      Carlos   29       Medico(a)                 4  5000000      0.04
2       Lucía   47     Profesor(a)                22  2000000      0.22
3       Sofía   25      Quimico(a)                 0  3500000      0.00
4      Miguel   38       Estadista                13  6000000      0.13
5       Laura   41   Arquitecto(a)                16  4000000      0.16
6        José   26       Medico(a)                 1  5000000      0.01
7      Isabel   50   Odontologo(a)                25  3000000      0.25
8       David   33       Pintor(a)                 8  2000000      0.08
9       Elena   28      Bombero(a)                 3  2000000      0.03
10     Manuel   35       Medico(a)                10  5000000      0.10
11      Paula   46       Estadista                21  6000000      0.21
12     Andrés   30     Profesor(a)                 5  2000000      0.05
13      Clara   39  Veterinario(a)                14  3000000      0.14
14   Fernando   42   Odontologo(a)                17  3000000      0.17
15     Camila   27    Psicologo(a)                 2  2500000      0.02
16     Javier   49    Enfermero(a)                24  3000000      0.24
17    Valeria   32     Botanico(a)                 7  2500000      0.07
18   Santiago   31    Sociologo(a)                 6  3000000      0.06
19     Teresa   40     Profesor(a)                15  2000000      0.15
20  Alejandro   37     Profesor(a)                12  2000000      0.12
21      Marta   43       Medico(a)                18  5000000      0.18
22     Daniel   48      Biologo(a)                23  2000000      0.23
23    Roberto   36       Estadista                11  6000000      0.11
24    Gonzalo   44      Quimico(a)                19  3500000      0.19

    Salary with bonus
0           4360000.0
1           5200000.0
2           2440000.0
3           3500000.0
4           6780000.0
5           4640000.0
6           5050000.0
7           3750000.0
8           2160000.0
9           2060000.0
10          5500000.0
11          7260000.0
12          2100000.0
13          3420000.0
14          3510000.0
15          2550000.0
16          3720000.0
17          2675000.0
18          3180000.0
19          2300000.0
20          2240000.0
21          5900000.0
22          2460000.0
23          6660000.0
24          4165000.0

In [ ]:
# Filtar datos
younger_than_40 = df[df["Age"] < 40]
print(younger_than_40)

         Name  Age             Job
0       María   34      Abogado(a)
1      Carlos   29       Medico(a)
3       Sofía   25      Quimico(a)
4      Miguel   38       Estadista
6        José   26       Medico(a)
8       David   33       Pintor(a)
9       Elena   28      Bombero(a)
10     Manuel   35       Medico(a)
12     Andrés   30     Profesor(a)
13      Clara   39  Veterinario(a)
15     Camila   27    Psicologo(a)
17    Valeria   32     Botanico(a)
18   Santiago   31    Sociologo(a)
20  Alejandro   37     Profesor(a)
23    Roberto   36       Estadista

In [ ]:
# Estadistica descriptiva
print(df.describe())

             Age
count  25.000000
mean   37.200000
std     7.648529
min    25.000000
25%    31.000000
50%    37.000000
75%    43.000000
max    50.000000

In [ ]:
# Agrupar datos
grouped = df.groupby('Job')['Age'].mean()
print(grouped)

Job
Abogado(a)        34.00
Arquitecto(a)     41.00
Biologo(a)        48.00
Bombero(a)        28.00
Botanico(a)       32.00
Enfermero(a)      49.00
Estadista         40.00
Medico(a)         33.25
Odontologo(a)     46.00
Pintor(a)         33.00
Profesor(a)       38.50
Psicologo(a)      27.00
Quimico(a)        34.50
Sociologo(a)      31.00
Veterinario(a)    39.00
Name: Age, dtype: float64

In [ ]:
# Ordenar datos
df_sorted = df.sort_values(by='Age', ascending=True)
print(df_sorted)

         Name  Age             Job
3       Sofía   25      Quimico(a)
6        José   26       Medico(a)
15     Camila   27    Psicologo(a)
9       Elena   28      Bombero(a)
1      Carlos   29       Medico(a)
12     Andrés   30     Profesor(a)
18   Santiago   31    Sociologo(a)
17    Valeria   32     Botanico(a)
8       David   33       Pintor(a)
0       María   34      Abogado(a)
10     Manuel   35       Medico(a)
23    Roberto   36       Estadista
20  Alejandro   37     Profesor(a)
4      Miguel   38       Estadista
13      Clara   39  Veterinario(a)
19     Teresa   40     Profesor(a)
5       Laura   41   Arquitecto(a)
14   Fernando   42   Odontologo(a)
21      Marta   43       Medico(a)
24    Gonzalo   44      Quimico(a)
11      Paula   46       Estadista
2       Lucía   47     Profesor(a)
22     Daniel   48      Biologo(a)
16     Javier   49    Enfermero(a)
7      Isabel   50   Odontologo(a)

In [ ]:
# Añadir funciones con apply
def age_in_months(age):
  return age * 12

df['Age_in_months'] = df['Age'].apply(age_in_months)
print(df)

         Name  Age             Job  Experience years  Age_in_months
0       María   34      Abogado(a)                 5            408
1      Carlos   29       Medico(a)                 3            348
2       Lucía   47     Profesor(a)                 2            564
3       Sofía   25      Quimico(a)                 4            300
4      Miguel   38       Estadista                 3            456
5       Laura   41   Arquitecto(a)                 1            492
6        José   26       Medico(a)                 5            312
7      Isabel   50   Odontologo(a)                 2            600
8       David   33       Pintor(a)                 3            396
9       Elena   28      Bombero(a)                 4            336
10     Manuel   35       Medico(a)                 3            420
11      Paula   46       Estadista                 5            552
12     Andrés   30     Profesor(a)                 2            360
13      Clara   39  Veterinario(a)                 1            468
14   Fernando   42   Odontologo(a)                 4            504
15     Camila   27    Psicologo(a)                 6            324
16     Javier   49    Enfermero(a)                 3            588
17    Valeria   32     Botanico(a)                 3            384
18   Santiago   31    Sociologo(a)                 1            372
19     Teresa   40     Profesor(a)                 0            480
20  Alejandro   37     Profesor(a)                 4            444
21      Marta   43       Medico(a)                 1            516
22     Daniel   48      Biologo(a)                 1            576
23    Roberto   36       Estadista                 2            432
24    Gonzalo   44      Quimico(a)                 3            528

In [ ]:
# Buscar valores especificos
print(df.loc[df["Job"] == "Medico(a)"])

      Name  Age        Job  Experience years   Salary  Bonus(%)  \
1   Carlos   29  Medico(a)                 4  5000000      0.04
6     José   26  Medico(a)                 1  5000000      0.01
10  Manuel   35  Medico(a)                10  5000000      0.10
21   Marta   43  Medico(a)                18  5000000      0.18

    Salary with bonus
1           5200000.0
6           5050000.0
10          5500000.0
21          5900000.0

In [ ]:
#Remover duplicados
df_no_duplicates = df.drop_duplicates(subset="Job")
print(df_no_duplicates)

        Name  Age             Job  Experience years   Salary
0      María   34      Abogado(a)                 9  4000000
1     Carlos   29       Medico(a)                 4  5000000
2      Lucía   47     Profesor(a)                22  2000000
3      Sofía   25      Quimico(a)                 0  3500000
4     Miguel   38       Estadista                13  6000000
5      Laura   41   Arquitecto(a)                16  4000000
7     Isabel   50   Odontologo(a)                25  3000000
8      David   33       Pintor(a)                 8  2000000
9      Elena   28      Bombero(a)                 3  2000000
13     Clara   39  Veterinario(a)                14  3000000
15    Camila   27    Psicologo(a)                 2  2500000
16    Javier   49    Enfermero(a)                24  3000000
17   Valeria   32     Botanico(a)                 7  2500000
18  Santiago   31    Sociologo(a)                 6  3000000
22    Daniel   48      Biologo(a)                23  2000000